* {
    box-sizing: border-box;
}

input[type="radio"] {
  accent-color: hsl(169, 82%, 27%);
}

input[type="radio"]:chacked {
  accent-color: hsl(171, 65%, 17%);
}

input[type="checkbox"] {
    accent-color: hsl(169, 82%,27%)
}

/* .success-message {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.success-message.show {
  opacity: 1;
  visibility: visible;
} */