* {
    box-sizing: border-box;
    
}
input[type="radio"] {
  accent-color: hsl(169, 82%, 27%);
}

input[type="radio"]:chacked {
  accent-color: hsl(171, 65%, 17%);
}

input[type="checkbox"] {
    accent-color: hsl(169, 82%,27%)
}